%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span class="event-title">RubyConf</span> <span class="event-title">UGANDA</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="six">6<span></span>
      %h4 THEME: RUBY ON RAILS, IMPLEMENTATION, DEPLOYMENT, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On the 22th Octobert 2016 leading Ruby developers from regional, East Africa will come together to share, inspire and learn.
      %a(href='#' target="_blank" ) View schedule.
      %h2.body-section--event-header__city <span>Kampala</span> <span>Uganda</span>
      %h3.body-section--event-header__date </sup>22th Oct 2016
    .body-section--event-header__tickets
      %a.button(href="http://goo.gl/D75hYC") Register Now!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyWorkshop Uganda is an inclusive conference and as such strives to be <a href="#">welcoming</a> and <a href="#">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at MUK DICTS.
  %p <a href="https://goo.gl/maps/HZBvrF9mrQ62" class="button">Directions</a>

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Robert B. Wamala
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/robert.jpg" alt="Photo of Robert B. Wamala")
      %div.speaker__bio
        %p Robert B. Wamala is a Computer Scientist and developer, open source enthusiast, founder of nasWare LTD, and organizer of Ruby Uganda. He studied BSc,Computer Science and and MSc. Computer and IT Security- UoL, he was accepted as a member of WebProfessionals (USA) and Institution of Engineering and Technology (UK).  He worked for 2 Internet Service Providers in Uganda and also server in United Nations DPKO for 5 years as an applications administrator/ Web Developer.
      %ol.speaker__links
        %li
          %a(href="http://goo.gl/NBBUl4") robert@web
        %li
          %a(href="http://twitter.com/wamarobert") @wamarobert
        %li
          %a(href="http://github.com/wamarobert") github.com/wamarobert
    %div.grid__cell.speaker
      %h3.speaker__name Michael Kimathi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/michael.jpg" alt="Photo of Michael")
      %div.speaker__bio
        %p Michael Kimathi has over 7 years experience working in innovative ecosystems and building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, Unbound, University of Nairobi, StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from his past failures and developing better solutions which will impact the world we are living in. Previously, he was the Community Development Manager at C4DLab, where he worked closely with team C4DLab to develop innovation strategy, Partnership and change the University culture from the old status quo way of doing things to one at the forefront of innovation, he mentored startups, hosted events, organized entrepreneurship mechanics related talks with distinguished industry entrepreneurs.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/mikekimmathi") @mikekimmathi
        %li
          %a(href="https://github.com/iamleader") github.com/iamleader

    %div.grid__cell.speaker
      %h3.speaker__name Bernard Banta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/banta.jpg" alt="Photo of Bernard Banta")
      %div.speaker__bio
        %p A Computer Scientist and true entrepreneur, he is the founder of Banta Technologies (BT). He has always been passionate about technology and how it can be used to leverage and transform Africa in the way we live, work, play and govern. When it comes to building, his ultimate goal is to make the world a better place. Banta is an entrepreneur and an engineer on the bleeding edge of technology.
      %ol.speaker__links
        %li
          %a(href="http://bbanta.com/") bbanta.com
        %li
          %a(href="http://twitter.com/bantab") @bantaB
        %li
          %a(href="http://github.com/banta") github.com/banta

%section#conference.body-section--content
  %h2 Conference
  %p 22<sup>nd</sup> Octobert at Makerere University, Department of ICT Support.
  -#%a(href="/pdfs/2015/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.
%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyWorkhop Uganda 2016 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Ruby Uganda Sponsors
  <img src="/images/2016/sponsors/nbs.png" alt="nbs"></a><br><br>
  <img src="/images/2016/sponsors/mak.png" alt="mak"></a><br><br>
  <img src="/images/2016/sponsors/BT.png" alt="BT"></a><br><br>
  <img src="/images/2016/sponsors/github.png" alt="GitHub"></a><br>
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
  -#  %li.sponsors__sponsor.sponsors__sponsor--github
  -#    <a href="http://github.com/"><img src="/images/2016/sponsors/github.png" alt="GitHub"></a>
  -#%h3 Emerald Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
  -#
  -#  %li.sponsors__sponsor.sponsors__sponsor--bantamik
  -#    <a href="http://bantamik.com/"><img src="/images/2015/sponsors/bantamik.png" alt="BantaMik"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--techweez
  -#    <a href="http://www.techweez.com/"><img src="/images/2016/sponsors/techweez.png" alt="Techweez"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--rea
  -#    <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--reinteractive
  -#    <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  -#%h3 Sapphire Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
  -#  %li.sponsors__sponsor.sponsors__sponsor--mandrill
  -#    <a href="http://mandrill.com/"><img src="/images/2015/sponsors/mandrill.png" alt="Mandrill"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
  -#%h3 Supporters
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#  %li.sponsors__sponsor.sponsors__sponsor--gitlab
  -#    <a href="http://gitlab.com/"><img src="/images/2016/sponsors/gitlab.png" alt="gitlab"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--digitalocean
  -#    <a href="http://digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--adorable
  -#    <a href="http://adorable.io/"><img src="/images/2015/sponsors/adorableio.png" alt="Adorable"></a>
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#  %li.sponsors__sponsor.sponsors__sponsor--pluralsight
  -#    <a href="https://www.pluralsight.com/"><img src="/images/2015/sponsors/pluralsight.jpg" alt="pluralsight"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--moringa
  -#    <a href="http://moringaschool.com/"><img src="/images/2015/sponsors/moringa.png" alt="Moringa school"></a>

  -#%p
  -#  <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyWorkshop Uganda is run under the auspices of Ruby Uganda HUB. You can view our <a href="http://ug.nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
